html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts: */
h1 {
    font-family: 'Amatic SC';
    font-size: 250%;
    line-height: 0;
}

h2 {
    font-family: 'Amatic SC';
    font-size: 2em;
}

h3 {
    font-family: helvetica;
    font-size: 1.2em;
}

p {
    font-family: helvetica;
    font-size: 2em;
}
#header-nav-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}
#header-nav-wrapper img, #header-nav-wrapper header {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
 }

#header-nav-wrapper img {
    width: 100%;
    height: auto;

}

#logo {
    position: absolute;
    top: 0;
    max-width: 15vw;
    padding: 1.5vw;
    color: white;
    text-decoration: none;
}

.slogan {
    color: white;
    display: flex;
    justify-content: center;
    line-height: 0;
}

button {
    padding: 0.5em;
    font-family: helvetica;
}


button:link {
    color: black;
}

button:visited {
    color: black;
}

button:hover {
    color: gray;
}

button:active {
    color: white;
}


footer {
    grid-area: ft;
    background-color: beige;
    text-align: left;
    margin-top: 60px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
