html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts: */
h1 {
    font-family: 'Amatic SC';
    font-size: 2em;
}

h2 {
    font-family: 'Amatic SC';
    font-size: 50%;
}

h3 {
    font-family: helvetica;
    font-size: 1.2em;
}

p {
    font-family: helvetica;
    font-size: 2em;
}

#header-nav-wrapper {

}

#header-nav-wrapper img {
    width: 100%;
    height: auto;
    position: relative;
}

#logo {
    position: absolute;
    top: 0;
    color: white;
    margin-top: -1em;
    margin-left: 0.5em;
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    font-size: 2.5em;
}

header {
    position: absolute;
    top: 40%;
    left: 44%;
}

.slogan {
    color: white;
    display: flex;
    justify-content: center;
}


#active {
    cursor: pointer;
    color: white;
    border-radius: 1000px;
    background-color: burlywood;
    width: 2px;
    height: 20px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#active:hover {
    color: gray;
}

div a:link {
    color: black;
    font-size: 18px;
}

div a:visited {
    color: black;
}

div a:hover {
    color: gray;
}

div a:active {
    color: white;
}


footer {
    grid-area: ft;
    background-color: beige;
    text-align: left;
    margin-top: 60px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
